javascript:
  var linkElement = document.createElement("link");
  linkElement.rel = "stylesheet";
  linkElement.href = "css/themes/default/style.min.css"; 
  document.head.appendChild(linkElement);


script src="js/jstree.min.js"
div.uk-grid
  div.uk-width-3-10
    input type="text" id="search" value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;"
    div#tree
  div.uk-width-7-10
    iframe.uk-responsive-width.uk-width-1-1#frame src="" width="750px" height="600px" frameborder="0" allowfullscreen="allowfullscreen"


javascript:
    $.jstree.defaults.core.themes.responsive = false; 
    request = $.getJSON("/browse/repository");
    var data;
    request.complete(function() {
     data = JSON.parse(request.responseText);
     $('#tree').jstree({
       'plugins': ["search","state"],
       'core': {
         'data': data
       }
     });
    });

    var to = false;
    $('#search').keyup(function () {
      if(to) { clearTimeout(to); }
      to = setTimeout(function () {
        var v = $('#search').val();
        $('#tree').jstree(true).search(v);
      }, 250);
    });				    

    $('#tree').on("activate_node.jstree", function(e,data){
         console.log(data);	  
      if (data.node.a_attr.target == "contentFrame") {
         $("#frame").attr("src", data.node.a_attr.href);
      	 // $("#test").load(data.node.a_attr.href);
      }
    })
