h2 Sequences



div.flowchart-container#sequence_flowchart
button class="create_operator" Create operator
button class="delete_selected_button" Delete selected object
button class="get_data" Get data
button class="set_data" Set data

script src="/js/jquery-ui.js"
script src="/js/jquery.flowchart.min.js"


div
  textarea#flowchart_data

javascript:
  $('.flowchart-container').css({"width":"500px"});
  $('.flowchart-container').css({"height":"500px"});

script src="/js/sequence_flowchart.js"