h2 Sequences



div.flowchart-container#sequence_flowchart
button class="create_concurrent" Create Concurrent
button class="create_condition" Create Condition
button class="create_task" Create Task
button class="delete_selected_button" Delete selected object
button class="get_data" Get data
button class="set_data" Set data

script src="/js/jquery-ui.js"
script src="/js/jquery.flowchart.min.js"


div
  textarea#flowchart_data.with_bg

javascript:
  $('.flowchart-container').css({"border-radius": "5px 10px 0 5px" });
  $('.flowchart-container').css({"border": "1px solid grey" });
  $('.flowchart-container').css({ "width":"1000px" });
  $('.flowchart-container').css({ "height":"500px" });

script src="/js/sequence_flowchart.js"